extends layout

block content
    div.container
        h2.text-center Contact List
            .card.mx-auto
                .card-body
                    table.table.table-bordered.table-striped.text-center
                        thead
                            tr
                                th First Name
                                th Last Name
                                th Email Address
                                th Notes
                                th Actions
                        tbody
                            tr
                                td= contact.firstName
                                td= contact.lastName
                                td= contact.email
                                td= contact.notes
                                td
                                    a.btn.btn-primary.btn-sm(href=`/contact_edit/${contact.id}`, role = "button") Edit
                                    a.btn.btn-danger.btn-sm(href=`/contact_delete/${contact.id}`, role = "button") Delete